flask>=2.3.3
numpy>=1.26.0
opencv-python>=4.9.0.80
Pillow>=10.3.0
deep-translator>=1.11.4
SpeechRecognition>=3.10.0
pyaudio>=0.2.14
requests>=2.31.0
pytesseract>=0.3.10
google-genai>=1.0.0
langdetect>=1.0.9

